
*{
    margin:auto;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    overflow: hidden;
    margin: 0;
    background: #000;
    
}

#stars, #stars2, #stars3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: contain;
}

#stars {
    background: url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
    animation: animateStars 6000s linear infinite;
    animation-play-state: running;
}

#stars2 {
    background: url(http://www.script-tutorials.com/demos/360/images/stars3.png) repeat top center;
    z-index: 1;
    animation: animateStars 8000s linear infinite;
}

#stars3 {
    background: url(http://www.script-tutorials.com/demos/360/images/stars2.png) repeat top center;
    z-index: 2;
    animation: animateStars 10000s linear infinite;
}

@keyframes animateStars {
    from {background-position: 0 0;}
    to {background-position: -99999px 99999px;}
}
/*==============================*/
/* END STARS BACKGROUND */
/*==============================*/

/* CSS */
.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid #085277;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-out;
    pointer-events: none;
    z-index: 9999;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid #29095c;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: wave 1s infinite;
}

.cursor.expand {
    animation: expand 0.5s forwards;
}

@keyframes wave {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
/*/*
/*/
#trail { position: absolute; }
.trail-dot { height: 5px; width: 5px; border-radius: 50%; background: #ff6347; position: absolute; box-shadow: 0 0 5px #ff6347; }


